 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1667px;
}

.u-section-1 .u-text-1 {
  font-size: 8.75rem;
  font-family: FontsFree-Net-Gagalin-Regular-2;
  text-shadow: 19px 12px 16px rgba(25,99,128,1);
  margin: 37px 153px 0 auto;
}

.u-section-1 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 1546px;
  height: 1546px;
  margin: -306px -681px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 1093px;
  height: 1093px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.u-section-1 .u-text-2 {
  font-family: FontsFree-Net-Roca-Two-Bold;
  font-size: 3.75rem;
  margin: -1150px 67px 0 137px;
}

.u-section-1 .u-text-3 {
  font-family: FontsFree-Net-Roca-Two-Bold;
  font-size: 3rem;
  margin: 192px 140px 0 211px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: FontsFree-Net-Roca-Two-Bold;
  margin: 153px auto 60px;
  padding: 22px 141px 22px 140px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2883px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 533px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 940px;
    margin: -510px 0 0 auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 143px;
    margin-right: 0;
    margin-left: 4px;
  }

  .u-section-1 .u-text-3 {
    width: 789px;
    margin-top: -370px;
    margin-right: 40px;
    margin-left: 111px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2663px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 264px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 720px;
    height: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 720px;
    margin-top: -241px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 182px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2483px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: -1032px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: 1288px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: -882px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: -37px;
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 434px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2283px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -1207px;
    margin-right: 96px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 1462px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
    margin-top: -63px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 408px;
  }
}border-radius: 50px;@font-face {
  font-family: 'FontsFree-Net-Gagalin-Regular-2';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/FontsFree-Net-Gagalin-Regular-2.ttf);
}@font-face {
  font-family: 'FontsFree-Net-Roca-Two-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/FontsFree-Net-Roca-Two-Bold.ttf);
}